@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO BILLY'S RENTALS!</h1>
    <img src="~/Images/Main graphic.png" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bikes</h2>
        <p>We've got a lot of nice bikes and other stuff here.</p>
        <p><img src="~/Images/bike.jpg" /></p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Scooters</h2>
        <p>The scootiest scooters ever.</p>
        <p><img src="~/Images/scooter.jpg" /></p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Beach Equipment</h2>
        <p>Perhaps you want to be lazy and just lie on the beach? That's fine too.</p>
        <p><img src="~/Images/beach.jpg" /></p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>